@model AdminCategoryViewModel
@{
    ViewData["Title"] = "Admin - Categories";
}

<head>
    <link rel="stylesheet" href="~/css/button-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin/admin-panel.css" asp-append-version="true" />
</head>

<div class="panel">
    <img src="~/images/admin/admin-panel.jpg" />
    <div class="panel-inputs">
        <div class="category-options">
            <table>
                <tr>
                    <th>
                        Category Name
                    </th>
                    <th>
                        Official
                    </th>
                    <th>
                        @*Edit*@
                    </th>
                    <th>
                        @*Delete*@
                    </th>
                </tr>

                @foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>
                            @if(category.IsOfficial) {
                                <p style="color: #0f2650">@category.Name</p>
                            } else {
                                <p style="color: #540061">@category.Name</p>
                            }
                        </td>
                        <td>
                            @if (category.IsOfficial) {
                                <img src="~/images/menus/verified.svg" style="width: 25px">
                            } else {
                            }
                        </td>
                        <td>
                            <img src="~/images/menus/edit.svg" style="width: 25px">
                        </td>
                        <td>
                            <img src="~/images/menus/delete.svg" style="width: 25px">
                        </td>
                    </tr>
                }
                <tr >
                    <td class="add-btn" colspan="4">+</td>
                </tr>
                @*<tr>
                    Make this into a modal popup <--------------------------------------------------------------------------!
                    <form method="post">
                        <div class="text-center add-category">
                            <span asp-validation-for="@Model.AddedCategory.Name" class="text-danger"></span>
                            <input asp-for="@Model.AddedCategory.Name" class="form-control single-btn" aria-required="true" placeholder="Category name..." />
                            <input class="btn btn-primary text-center admin-btn" type="submit" value="Add" data-confirm="Are you sure you want to update category list?" />
                        </div>
                    </form>
                </tr>*@
            </table>
        </div>

    </div>
</div>

<script src="~/js/alert/confrimation.js" asp-append-version="true"></script>