@model AdminCategoryViewModel

<tr class="text-center">
    <form method="post" action="@Url.Action("Add", "Category")">

    <td colspan="4">
        <span asp-validation-for="AddedCategory.Name"/>
        <input asp-for="@Model.AddedCategory.Name" class="form-control single-btn" aria-required="true" placeholder="Category name..." />
    </td>
    <td>
        <button id="category-submit" type="submit" class="btn">Add</button>
    </td>
    </form>
</tr>