<h4 class="our-categories">Browse Our Categories</h4>
<hr class="hero-separator blue" />

<section class="categories">

    <div class="img-container">

        <a asp-area="Official" asp-controller="Store" asp-action="Phones">
            <div class="category-index-image phone">
                <span class="category-names phone">Phones</span>
                <img id="phone-img" class="category-img" src="~/images/index-page/phone-index.jpg" />
            </div>
        </a>

        <a asp-area="Official" asp-controller="Store" asp-action="Laptops">
            <div class="category-index-image laptop">
                <span class="category-names laptop">Laptops</span>
                <img id="laptop-img" class="category-img" src="~/images/index-page/laptop-index.jpg" />
            </div>
        </a>

        <a asp-area="Official" asp-controller="Store" asp-action="Smart">
            <div class="category-index-image smart-watch">
                <span class="category-names smart-watch">Smart Watches</span>
                <img id="smart-watch-img" class="category-img" src="~/images/index-page/smart-watch-index.jpg" />
            </div>
        </a>

    </div>

</section>

<script src="~/js/home-index/index-script.js"></script>