<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - techIE</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/techIE.styles.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous">
    </script>

</head>

<body>

    <header>
        <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    tech<span class="logo-i">I</span><span class="logo-e">E</span>
                </a>

                <partial name="_MenuDropdownsPartial" />

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <div class="account">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="shared-footer" class="border-top footer text-muted">
        <div class="bottom-nav">
            <div class="footer-links">
                <ul>
                    <li class="list-title">Our Categories</li>
                    <li><a href="#">Phones</a></li>
                    <li><a href="#">Laptops</a></li>
                    <li><a href="#">Smart Watches</a></li>
                </ul>

                <ul>
                    <li class="list-title">User Marketplace</li>
                    <li><a href="#">Explore Marketplace</a></li>
                    <li><a href="#">Create Listing</a></li>
                </ul>

                <ul>
                    <li class="list-title">About Us</li>
                    <li><a href="#">Our Story</a></li>
                    <li><a href="#">Mission</a></li>
                </ul>

                <ul>
                    <li class="list-title">Social Media</li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>

                <ul>
                    <li class="list-title">techIE Games</li>
                    <li><a href="https://koss054.github.io/">Guess My Number!</a></li>
                </ul>

            </div>
        </div>

        <div class="bottom-footer">
            <div class="container">
                &copy; @DateTime.UtcNow.Year - Innovative Experiences - All images are from&nbsp<a href="https://www.freepik.com">Freepik</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
