<footer id="shared-footer" class="border-top footer text-muted">
    <div class="bottom-nav">
        <div class="footer-links">
            <ul>
                <li class="list-title">Our Categories</li>
                <li><a asp-area="Official" asp-controller="Store" asp-action="Phones">Phones</a></li>
                <li><a asp-area="Official" asp-controller="Store" asp-action="Laptops">Laptops</a></li>
                <li><a asp-area="Official" asp-controller="Store" asp-action="Smart">Smart Watches</a></li>
            </ul>

            <ul>
                <li class="list-title">User Marketplace</li>
                <li><a asp-area="Marketplace" asp-controller="Store" asp-action="Explore">Explore Marketplace</a></li>
                <li><a asp-area="Marketplace" asp-controller="Product" asp-action="Add">Create Listing</a></li>
            </ul>

            <ul>
                <li class="list-title">About Us</li>
                <li><a asp-area="" asp-controller="Home" asp-action="Story">Our Story</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Mission">Mission</a></li>
            </ul>

            <ul>
                <li class="list-title">Social Media</li>
                <li><a href="https://www.facebook.com/profile.php?id=100088311115861">Facebook</a></li>
                <li><a href="https://www.instagram.com/tech_innovative_experiences/">Instagram</a></li>
                <li><a href="https://www.linkedin.com/in/techie-techie-a4659b25a/">LinkedIn</a></li> @*Need ten connections for actual linkedIn page :(*@
            </ul>

            <ul>
                <li class="list-title">techIE Games</li>
                <li><a href="https://koss054.github.io/">Guess My Number!</a></li>
            </ul>

        </div>
    </div>

    <div class="bottom-footer">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Innovative Experiences - All images are from&nbsp<a href="https://www.freepik.com">Freepik</a>
        </div>
    </div>
</footer>

<style>
    .container{
        padding: 10px;
    }
</style>