@using Microsoft.AspNetCore.Identity
@using techIE.Data.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<head>
    <link rel="stylesheet" href="~/css/dropdowns/dropdown-with-animations.css" />
</head>

<ul class="navbar-nav dropdowns">
    <li class="nav-item position-fixed official-store-dropdown">
        <a class="nav-link text-dark" asp-area="Official" asp-controller="Store" asp-action="Index">Official Shop</a>
        <ul class="dropdown">
            <li><a class="nav-link text-dark" asp-area="Official" asp-controller="Store" asp-action="Phones">Phones</a></li>
            <li><a class="nav-link text-dark" asp-area="Official" asp-controller="Store" asp-action="Laptops">Laptops</a></li>
            <li><a class="nav-link text-dark" asp-area="Official" asp-controller="Store" asp-action="Smart">Smart Watches</a></li>
        </ul>
    </li>
    <li class="nav-item position-fixed user-marketplace-dropdown">
        <a class="nav-link text-dark" asp-area="Marketplace" asp-controller="Store" asp-action="Index">User Marketplace</a>
        <ul class="dropdown">
            <li><a class="nav-link text-dark" asp-area="Marketplace" asp-controller="Store" asp-action="Explore">Explore Marketplace</a></li>
            <li><a class="nav-link text-dark" asp-area="Marketplace" asp-controller="Product" asp-action="Add">Create Listing</a></li>
        </ul>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item position-fixed cart-icon">
            <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Inspect">
                <img id="cart-img" src="~/images/menus/cart.svg" />
            </a>
        </li>
    }
</ul>

<style>
    ul li.official-store-dropdown ul li a:hover {
        border-left: 2px solid cornflowerblue;
    }

    ul li.user-marketplace-dropdown ul li a:hover {
        border-left: 2px solid deeppink;
    }

    ul li.cart-icon {
        top: 10px;
        left: 29rem;
    }

    #cart-img {
        width: 25px!important;
        min-width: 25px!important;
        max-width: 25px!important;
        height: 25px!important;
        margin: 0!important;
    }
</style>