@{
    ViewBag.Title = "No Categories Available";
}

<head>
    <link rel="stylesheet" href="~/css/no-categories.css" />
    <link rel="stylesheet" href="~/css/store/marketplace-store.css" />
</head>

<section class="no-categories-available">
    <img id="no-categories" src="~/images/errors/no-categories.jpg" />
    <h2>@ViewBag.Title</h2>
    <h4>Apologies for the inconvenience!</h4>
</section>