@{
    ViewBag.Title = "Explore Marketplace";
}

<head>
    <link rel="stylesheet" href="~/css/marketplace/footer.css" />
    <link rel="stylesheet" href="~/css/marketplace/logo.css" />
    <link rel="stylesheet" href="~/css/horizontal-row/marketplace-rows.css" />
    <link rel="stylesheet" href="~/css/store/marketplace-store.css" />
    <link rel="stylesheet" href="~/css/animations/grow-on-hover.css" />
</head>

<div class="store-heading">
    <h1 class="text-center mt-4">@ViewBag.Title</h1>
    <hr class="marketplace text-center" />
</div>