@model AddCategoryViewModel
@{
    ViewData["Title"] = "Admin - Add Category";
}

<head>
    <link rel="stylesheet" href="~/css/button-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin/admin-panel.css" asp-append-version="true" />
</head>

<div class="panel">
    <img src="~/images/admin/admin-panel.jpg" />
    <div class="panel-inputs">
        <div class="category-options">
            <table>
                <form method="post">
                    <div class="text-center">
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <input asp-for="@Model.Name" class="form-control single-btn" aria-required="true" placeholder="Category name..." />
                    </div>

                    <div class="text-center">
                        <input class="btn btn-primary text-center admin-btn" type="submit" value="Add" data-confirm="Are you sure you want to update category list?" />
                    </div>
                </form>
            </table>
        </div>

    </div>
</div>

<script src="~/js/alert/confrimation.js" asp-append-version="true"></script>