@model CartViewModel

@{
    ViewBag.Title = "Inspect Cart";
}

<head>
    <link rel="stylesheet" href="~/css/table.css" />
    <link rel="stylesheet" href="~/css/cart/cart-table.css" />
    <link rel="stylesheet" href="~/css/cart/empty-cart.css" />
    <link rel="stylesheet" href="~/css/cart/cart-actions.css" />
    <link rel="stylesheet" href="~/css/horizontal-row/table-rows.css" />
</head>

@if (Model.Products.Count() > 0)
{
    <partial name="_CartProductsPartial" />
} 
else
{
    <div class="page-panel">
        <img id="empty-cart" src="~/images/cart/empty-cart.jpg">
        <hr class="cart-separator pink"/>
        <h2 class="text-center mt-3">No products in cart!</h2>
        <h5 class="text-center">Check out our 
                <a style="color: cornflowerblue; text-decoration: none" asp-area="Official" asp-controller="Store" asp-action="Index">Official Store</a> 
                or our 
                <a style="color: deeppink; text-decoration: none" asp-area="Marketplace" asp-controller="Store" asp-action="Index">User Marketplace</a>
                to add products to your cart!
        </h5>
    </div>
}