img {
    max-width: 600px;
}

table {
    width: 650px;
    text-align: center;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

tr {
    vertical-align: baseline;
}

td {
    padding-top: 1rem;
    background-color: rgb(189 255 252 / 17%);
    color: #06002e;
}

th {
    padding: 7px;
    background-color: #1c0e72;
    color: #fff;
}

tbody:hover,
   tr:hover {
    background-color: rgb(25 74 96 / 10%);
}

.panel {
    margin: 1rem 60px 0 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-image: linear-gradient(to top, #180d5b00, #2f7b9fbd);
}

.panel-inputs {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    max-height: 500px;
    overflow-y: auto;
}

.category-options {
    margin-top: 7rem;
    margin-bottom: 2rem;
    max-height: 500px;
}

.form-control {
    width: 400px;
    font-size: 15px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-radius: 1px;
    border-bottom: 1px solid #669eb8;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    text-align: center;
}

.add-category {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/*.form-control:focus {
    background: none;
    width: 400px;
}*/

.single-btn {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

.logo-i {
    color: #43e8e1;
}

.logo-e {
    color: #43e8e1;
}

.admin-btn {
    background-image: radial-gradient(100% 100% at 100% 0, #43e8e1 0, #2f7b9edb 100%);
}

footer .bottom-nav {
    background-color: #43e8e136;
}

footer .bottom-footer {
    background-color: #38b2bf69;
}
