@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/css/account/login-register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/button-style.css" asp-append-version="true" />
</head>

<section class="account-page">
    <div class="account-details flex-stack">
        <h2>Login</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form id="account" method="post">
            <span asp-validation-for="UserName" class="error text-center"></span>
            <div class="text-center mb-3">
                <input asp-for="@Model.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Username..." />
            </div>

            <span asp-validation-for="Password" class="error text-center mb-0"></span>
            <div class="text-center mb-3">
                <input asp-for="@Model.Password" id="pass" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password..." />
            </div>

            <div class="text-center mb-3 show-pass-div grow">
                <img class="show-pass" src="~/images/menus/eye.svg" /><span class="show-pass-text">Show Password</span>
            </div>

            <div class="text-center mb-3 hide-pass-div grow">
                <img class="hide-pass" src="~/images/menus/eye-slash.svg" /><span class="hide-pass-text">Hide Password</span>
            </div>

            <div class="text-center">
                <button id="account-submit" type="submit" class="btn">Log in</button>
            </div>
        </form>
    </div>

    <div class="img-div">
        <img src="~/images/account/login-img.jpg" />
    </div>
</section>

<script src="~/js/account/show-pass-script.js" asp-append-version="true"></script>
