@model IEnumerable<ProductOverviewViewModel>

@{
    ViewBag.Title = "techIE Store";
}

<head>
    <link rel="stylesheet" href="~/css/horizontal-row/official-rows.css" />
    <link rel="stylesheet" href="~/css/store/official-store.css" />
    <link rel="stylesheet" href="~/css/animations/grow-on-hover.css" />
</head>

<div class="store-heading">
    <h1 class="text-center mt-4">@ViewBag.Title</h1>
    <hr class="official text-center" />
    @if (Model.Count() > 0)
    {
        <span class="below-hr">You could check out:</span>
    }
</div>

<div class="product-panel">
    @if (Model.Count() > 0)
    {
        @foreach (var product in Model) 
        {
            <a class="product-details" asp-area="Official" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                <div class="product grow">
                    <img src="@product.ImageUrl">
                    <hr class="img-seperator official" />
                    <h4 class="text-center">@product.Name</h4>
                    <h6 class="text-center">$@product.Price</h6>
                </div>
            </a>
        }
    }
    else
    {
        <h3 class="mt-4">No products available at the moment! Apologies for any caused inconvenience.</h3>
    }
</div>

<partial name="_BrowseOurCategoriesPartial" />
