@model IEnumerable<ProductOverviewViewModel>

@{
    ViewBag.Title = "techIE Store";
}

<head>
    <link rel="stylesheet" href="~/css/horizontal-row/rows.css" />
    <link rel="stylesheet" href="~/css/store/official-store.css" />
    <link rel="stylesheet" href="~/css/animations/grow-on-hover.css" />
</head>

<div class="store-heading">
    <h1 class="text-center mt-4">techIE's Official Store</h1>
    <hr class="official text-center" />
    <span class="below-hr">You could check out:</span>
</div>

<div class="product-panel">
    @foreach (var product in Model) 
    {
        <div class="product grow">
            <img src="@product.ImageUrl">
            <hr class="img-seperator" />
            <h4 class="text-center">@product.Name</h4>
            <h6 class="text-center">$@product.Price</h6>
        </div>
    }
</div>

<partial name="_BrowseOurCategoriesPartial" />
