.cart-panel {
    display: grid;
    margin: 60px;
    margin-bottom: 30px;
    align-self: center;
}

.cart-product-img {
    width: 50px;
    height: 50px;
}

.responsive-table {
    text-align: center;
    padding: 0;
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.table-header {
    background-color: #dcebff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    align-items: center;
}

.col-1 {
    flex-basis: 10%;
}

.col-2 {
    flex-basis: 30%;
}

.col-3 {
    flex-basis: 25%;
}

.col-4 {
    flex-basis: 25%;
}

.col-5 {
    flex-basis: 10%;
}

@media all and (max-width: 767px) {
    .table-header {
        display: none!important;
    }

    .table-row {
    }

    li {
        display: block;
    }

    .col {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 20%;
        text-align: right;
    }
}