hr.marketplace {
    width: 400px;
    height: 8px;
    background-color: deeppink;
    opacity: 70%;
    border-radius: 10px;
    margin: auto;
}

hr.long {
    width: 800px;
}

hr.img-seperator.marketplace {
    width: 200px;
    height: 4px;
    background-color: deeppink;
    opacity: 70%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}