hr.official {
    width: 400px;
    height: 8px;
    background-color: cornflowerblue;
    opacity: 70%;
    border-radius: 10px;
    margin: auto;
}

hr.long {
    width: 800px;
}

hr.short {
    width: 250px;
    height: 6px;
}

hr.img-seperator.official {
    width: 200px;
    height: 4px;
    background-color: cornflowerblue;
    opacity: 70%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}