hr.cart-separator,
hr.order-separator {
    margin: auto;
    width: 400px;
    height: 8px;
    color: cornflowerblue;
    border-radius: 10px;
}

hr.cart-separator.pink,
hr.order-separator.pink {
    color: deeppink;
}
