@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">

    <img src="~/images/index-page/hero-image-large-desktop.jpg" />

    <div class="hero-content">
        <div class="t-container">
            <h1>tech<span class="logo-i">I</span><span class="logo-e">E</span></h1>
            <p>
                A secure tech shop. Choose from our products or use our user marketplace page to trade with others.
            </p>
        </div>
    </div>

</section>

