@{
    ViewData["Title"] = "Home";
}

<section class="hero-first">

    <img class="hero-img" src="~/images/index-page/hero-image-large-desktop.jpg" />

    <div class="hero-content">
        <div class="t-container">
            <h1>tech<span class="logo-i">I</span><span class="logo-e">E</span></h1>
            <span class="hero-paragraph">
                <span class="secure-shop">A secure tech shop.</span> Choose from our products or use our user marketplace page to trade with others.
            </span>
            <img class="right-arrow grow" src="~/images/menus/right-arrow.svg" />
        </div>
    </div>

</section>

<section class="hero-second">
    <img class="hero-img" src="~/images/index-page/hero-image-large-desktop-2.jpg" />

    <div class="hero-content-second">
        <div class="t-container">
            <h1>Leave the shipping to <span class="heading-us">us</span></h1>
            <img class="left-arrow grow" src="~/images/menus/left-arrow.svg" />
            <span class="hero-paragraph">
                Worried you won't be paid after a user orders your product? <span class="our-marketplace">Use our user marketplace</span> and we'll handle the shipping and necessary payment!
            </span>
        </div>
    </div>

</section>

<partial name="_BrowseOurCategoriesPartial" />

<partial name="_BrowseUserMarketplacePartial" />

<script src="~/js/home-index/index-script.js"></script>

