@{
    ViewBag.Title = "techIE's Mission";
}

<head>
    <link rel="stylesheet" href="~/css/horizontal-row/official-rows.css" />
    <link rel="stylesheet" href="~/css/official/logo.css" />
    <link rel="stylesheet" href="~/css/mission.css" />
</head>

<h2 class="text-center mt-4">tech<span class="logo-i">IE</span>'s Mission</h2>
<hr class="official" />

<section class="mission-panel">
    <div class="left-align">
        <img class="mission-img square" src="~/images/mission-page/target.jpg" />
        <div class="paragraphs">
            <p class="mission-information">
                Provide services that meet our users' requirements. We want to make the tech<span class="logo-i">IE</span> experience an enjoyable one for everyone.
            </p>
            <hr class="official" />
            <p class="mission-information">
                Making tech that works with the latest technologies is a big priority for us as well. We're always open for suggestions at suggestions@techie.com
            </p>
        </div>
    </div>

    <div class="right-align">
        <img class="mission-img" src="~/images/mission-page/ideas.jpg" />
        <div class="paragraphs">
            <p class="mission-information">
                Create innovative ideas, together!
            </p>
            <hr class="official" />
            <p class="mission-information">
                Your recommendations have helped us build products that everyone enjoys. In 2024, we'll be creating our partner program, where you can branistorm with us. 
            </p>
        </div>
    </div>

    <div class="left-align">
        <img class="mission-img" src="~/images/mission-page/goal.jpg" />
        <div class="paragraphs">
            <p class="mission-information">
                Release new products that help our users with different tasks during the day. 
            </p>
            <hr class="official" />
            <p class="mission-information">
                Our growth has made this much easier. Now, as more and more people are working from home, we'll be focusing on improving the home-office requirements with our new products.
            </p>
        </div>
    </div>
</section>