@{
    ViewBag.Title = "techIE's Story";
}

<head>
    <link rel="stylesheet" href="~/css/horizontal-row/official-rows.css" />
    <link rel="stylesheet" href="~/css/official/logo.css" />
    <link rel="stylesheet" href="~/css/story.css" />
</head>

<h2 class="text-center mt-4">tech<span class="logo-i">IE</span>'s Story</h2>
<hr class="official" />

<section class="story-panel">

    <div class="left-align">
        <p class="year">19<span class="year-blue">96</span></p>
        <div class="paragraphs">
            <p class="information">
                Our first official year! tech<span class="logo-i">IE</span> started as a reseller. The initial name of our company was "<b>resell_IT</b>". We found customers who wanted to sell their old tech, but were worried that the buyer had bad intentions. We acted as a middle man, ensuring both our sellers and buyers a safe transaction.
            </p>
            <p class="information">
                We were operating in our home town. After we had gained the trust of a couple of local tech distributors we started taking everything more seriously. We had a vision for this company. We were ready to achieve it.
            </p>
        </div>
    </div>

    <div class="right-align">
        <p class="year">20<span class="year-pink">04</span></p>
        <div class="paragraphs">
            <p class="information">
                This year was a special one. The year during which tech<span class="logo-i">IE</span> became an innovator. This is when the current name came into fruiton. We had successfully created our first line of personal computers. We were ready to bring our users <span class="logo-i">Innovative Experiences</span> from this point on.
            </p>
            <p class="information">
                One of the leading reasons for our new name is that we dropped the reselling... but we did bring it back eventually!
            </p>
        </div>
    </div>

    <div class="left-align">
        <p class="year">20<span class="year-blue">09</span></p>
        <div class="paragraphs">
            <p class="information">
                Our biggest year, ever. The first tech<span class="logo-i">IE</span> Edge phone was sold! It was a long and exhausting process.
            </p>
            <p class="information">
                Our competitors were making much better personal computers than us. We couldn't compete with them. It was a hard time. We decided to change what we're working on. As mobility was becoming more and more important for tech, we focused on phones.
            </p>
            <p class="information">
                A design error was the biggest blessing in disguise - one of our designers accidentally made the phone screen larger than intended. The error went unnoticed and the prototype was created. The rest is history.
            </p>
        </div>
    </div>

    <div class="right-align">
        <p class="year">20<span class="year-pink">12</span></p>
        <div class="paragraphs">
            <p class="information">
                The success we had with the tech<span class="logo-i">IE</span> Edge phone let us set up our new reseller program. We wanted to make it unique and useful for all users.
            </p>
            <p class="information">
                It started as a simple physical outlet in our biggest location. Local tech distributors would create a listing on our site and give the product to our store. Our employees validated the listing and handled all orders, shipments and payments.
            </p>
            <p class="information">
                Buyers knew that they were buying the listed product, and the sellers knew that they would receive their payment. The deliveries were initially done with local delivery agencies, but we soon created our own, which we are still using to this day!
            </p>
        </div>
    </div>

        <div class="left-align">
        <p class="year">20<span class="year-blue">17</span></p>
        <div class="paragraphs">
            <p class="information">
                The growth of e-Sports caught our attention. We wanted to make a device that's portable and powerful enough for the latest games. This is the year when we released the tech<span class="logo-i">IE</span> Frenzy X7.
            </p>
            <p class="information">
                This laptop went unnoticed at first. It became more popular after we made a deal with Rito Gamez, the largest gaming company at the time. The setups at the torunaments used our laptop. It performed as expected.
            </p>
            <p class="information">
                By the end of the year we released a budget version of this laptop - tech<span class="logo-i">IE</span> Clot X2. Much cheaper than the Frenzy X7, but powerful enough for smooth school or office work. It also came with an auto-clicker for a specific group of our users (<span class="dim">very requested</span>).
            </p>
        </div>
    </div>

        <div class="right-align last">
        <p class="year">20<span class="year-pink">22</span></p>
        <div class="paragraphs">
            <p class="information">
                After the world slowed down in 2020, we decided to work on something that would help with your health. Being sedentary the whole day wasn't the right way to live. We needed something to help and motivate our users to exercise. Our solution was the tech<span class="logo-i">IE</span> Companion Watch.
            </p>
            <p class="information">
                We also developed an exercise app, which you could synchronize with all of your devices (<span class="dim">ones that aren't made from us as well</span>). The Companion Watch made tracking calories in your meals easy with its scan function. It also made planning your exercise routine simple.
            </p>
            <p class="information">
                We don't know what our future holds for us, but we know that we'll give our users an
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="logo-i">Innovative Experience</span>!
                </a>
            </p>
        </div>
    </div>

</section>
