@{
    ViewBag.Title = "No Official Categories";
}

<head>
    <link rel="stylesheet" href="~/css/no-categories.css" />
    <link rel="stylesheet" href="~/css/admin/admin-panel.css" asp-append-version="true" />
</head>

<section class="no-categories-available">
    <h2>@ViewBag.Title</h2>
    <h4>Add categories from 
        <a asp-area="Admin" asp-controller="Category" asp-action="Add">here</a>
        and try adding/editing a product!
    </h4>
    <h6>If categories are added, make sure there is at least one official. You can update them from 
        <a asp-area="Admin" asp-controller="Panel" asp-action="Categories">here</a>
        by ticking the empty box.
    </h6>
</section>