html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Roboto', serif;
    padding-top: 60px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header .navbar {
    padding: 0;
    margin: 0;
}

header .container-fluid {
    padding-left: 0;
}

header nav .navbar-brand {
    font-size: 27px;
    font-weight: 400;
    padding: 10px;
    margin-left: 50px;
}

.logo-i {
    color: cornflowerblue;
    font-weight: 700;
}

.logo-e {
    color: cornflowerblue;
    font-weight: 700;
}

.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.hero img {
    max-height: 100%;
    width: 100%;
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero-content .t-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 60px;
}

.hero-content h1 {
    font-size: 60px;
    max-width: 600px;
    color: #071013;
}

.hero-content p {
    max-width: 585px;
    font-size: 25px;
}

footer {
    display: flex;
}

footer .container {
    margin-left: 60px;
}

footer .footer-privacy {
    margin-right: 60px;
}