html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Roboto', serif;
    padding-top: 60px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.account {
    padding-right: 60px;
}

header .navbar {
    padding: 0;
    margin: 0;
}

header .container-fluid {
    padding-left: 0;
}

header nav .navbar-brand {
    font-size: 27px;
    font-weight: 400;
    padding: 10px;
    margin-left: 50px;
}

.logo-i {
    color: cornflowerblue;
    font-weight: 700;
}

.logo-e {
    color: cornflowerblue;
    font-weight: 700;
}

.heading-us {
    color: deeppink;
    font-weight: 700;
}

.secure-shop {
    color: cornflowerblue;
    font-weight: 700;
}

.our-marketplace {
    color: deeppink;
    font-weight: 700;
}

.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.hero-first {
    display: flex;
    position: relative;
}

.hero-second {
    display: none;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero-content-second {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero-img {
    width: 100%;
    height: auto;
}


.hero-content .t-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 60px;
}

.hero-content-second .t-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-right: 60px;
    align-items: flex-end;
}

.hero-content h1 {
    font-size: 60px;
    max-width: 600px;
    color: #071013;
}

.hero-content-second h1 {
    font-size: 60px;
    max-width: 600px;
    color: #071013;
    padding-left: 15px;
    padding-right: 60px;
}

.hero-content .hero-paragraph {
    max-width: 585px;
    font-size: 25px;
}

.hero-content-second .hero-paragraph {
    max-width: 585px;
    font-size: 25px;
}

.right-arrow {
    position: absolute;
    float: right;
    height: 40px;
    width: 40px;
    align-self: end;
    margin-right: 60px;
}

.left-arrow {
    position: absolute;
    float: right;
    height: 40px;
    width: 40px;
    align-self: end;
    left: 60px;
}

h4.our-categories {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 10px;
}

hr.hero-separator {
    height: 8px;
    width: 300px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 60px;
    color: #005BFF;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-container {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 350px;
    margin-bottom: 60px;
}

.category-index-image {
    display: flex;
    position: relative;
    margin: 0 35px;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.laptop-index {
    display: flex;
    position: relative;
    margin: 0 35px;
}

.smart-watch-index {
    display: flex;
    position: relative;
    margin: 0 35px;
}

.category-names {
    position: absolute;
    display: none;
    z-index: 2;
    text-transform: uppercase;
    color: white;
    outline-color: cornflowerblue;
    font-size: 50px;
    font-weight: 700;
    text-shadow: -2px -2px 0 cornflowerblue, 2px -2px 0 cornflowerblue, -2px 2px 0 cornflowerblue, 2px 2px 0 cornflowerblue;
}

.category-names.smart-watch {
    text-align: center;
}

.category-img {
    height: 300px;
    width: 300px;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.3);
}

.grow-category-img {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    filter: blur(5px);
}

#shared-footer {
    position: inherit;
    display: flex;
}

footer .container {
    margin-left: 60px;
}

footer .footer-privacy {
    margin-right: 60px;
}