.account-page {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    margin-left: 60px;
    margin-right: 60px;
}

.img-div {
    width: 480px;
}

img {
    width: 480px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.account-details {
    width: 70%;
    background-image: linear-gradient(to top, #4cadff59, #d8eeff00);
}

.flex-stack {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-page h2 {
    position: relative;
    color: #0000008c;
}

#account {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-control {
    width: 200px;
    background: none;
    font-size: 15px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-radius: 1px;
    border-bottom: 1px solid #0000002e;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    text-align: center;
}

.show-pass-div {
    display: flex;
    flex-direction: row;
}

.hide-pass-div {
    display: none;
    flex-direction: row;
}

.show-pass, .hide-pass {
    margin-right: 5px;
    width: 15%;
}

.show-pass-text, .hide-pass-text {
    font-size: 12px;
    color: black;
}

.form-control:focus {
    background: none;
    width: 400px;
}

.error {
    font-size: 15px;
    color: #ff00008f;
}

.error:last-of-type {
    margin-bottom: 2rem;
}

.btn {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.btn:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}