.account-page {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    margin-left: 60px;
    margin-right: 60px;
}

.img-div {
    width: 480px;
}

img {
    width: 480px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.account-details {
    width: 70%;
    background-image: linear-gradient(to top, #4cadff59, #d8eeff00);
}

.flex-stack {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 480px;
}

.account-page h2 {
    position: relative;
    color: #0000008c;
}

#account {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.show-pass-div {
    display: flex;
    flex-direction: row;
}

.hide-pass-div {
    display: none;
    flex-direction: row;
}

.show-pass, .hide-pass {
    margin-right: 5px;
    width: 15%;
}

.show-pass-text, .hide-pass-text {
    font-size: 12px;
    color: black;
}

.error {
    font-size: 15px;
    color: #ff00008f;
}

.error:last-of-type {
    margin-bottom: 2rem;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}