img {
    width: 250px;
    height: 300px;
    margin-top: 5px;
}

.store-heading {
    margin: 0 60px 0 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.back-to-store {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #93b5f2;
    border-radius: 10px;
    width: 100px;
}

.back-to-store a {
    text-decoration: none;
}

.back-to-store a p {
    text-transform: uppercase;
    color: white;
}

span.below-hr {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #00000069;
}

.product-panel {
    margin: 0 60px 0 60px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    border: solid;
    border-color: #6495eda3;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 30px;
    width: 300px;
    height: 500px;
    text-align: center;
}

.product h4 {
    overflow-wrap: anywhere;
}

a {
    text-decoration: none;
}

a.product-details {
    color: black;
}

.no-products {
    margin-top: 50px;
    margin-bottom: 78px;
}

a.official-redirect {
    color: cornflowerblue;
}

a.marketplace-redirect {
    color: deeppink;
}
